body {
    margin: 0px;
    padding: 0px;
    *font-family: 'Roboto', sans-serif;
}

.fullWidthCon {
    width: 100%;
    background-color: #000;
}

.divContainer {
    background-color:#000;
    width: 1280px;
    margin: 0 auto;
}   
.divflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px 0 30px;
        height: 100%;
}

.divflex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    
}

.divflex2 h2 {
    font-size:48px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 200;
}

.wrapper {
    position: relative; 
    width: 286px;
    margin-top: 20px;
    
}

input[type="text"] {

    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #a0cf32;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    width: 280px;
    
    letter-spacing: 1px;
    padding-bottom: 5px;
        font-weight: 100;
}

.divflex2 p {
    color: #fcf9f980;
    bottom: 36px;
    position: absolute;
}

.divflex2 .arrow-down {
    bottom: 10px;
    position: absolute;
    cursor: pointer;
}

input[type="submit"] {
    border: none;
    background: url('images/arrow.png') no-repeat;
    position: absolute;
    outline: none;
    border: 0;
    top: 3px;
    right: 5px;
    text-indent: -1000em;
    overflow: hidden;
    width: 21px;
    height: 19px;
}

.funContainer {
    width: 853px;
    height: auto;
}

.funContainer .caption {
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.funContainer .caption p {

    font-size: 28px;
    font-weight: 300;
    color: #a0cf32;
    margin-bottom: .5rem;
        text-align: center;
}
.funContainer .caption p:last-child {
    color: #fff;
}
.contactus1 {
    width: 427px;
    background-color: #a0cf32;
    height: 700px;
}

.contactus1 .caption {
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
        padding: 0 38px;
}

.contactus1 .caption p {

    font-size: 14px;
    font-weight: 300;
    color: #fff;
    
    text-align: justify;
}

.contactus2 {
    width: 427px;
    background-color: #a0cf32;
    height: 600px;
}

.contactus2 .caption {
    padding: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
        padding: 0 38px;
}

.contactus2 .caption p {

    font-size: 14px;
    font-weight: 300;
    color: #fff;
    
    text-align: justify;
}

*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}
*::placeholder {
    /* modern browser */
    color: white;
}



@media (max-width: 767.98px) {

.divContainer {
    background-color: #000;
    width: 100%;
    margin: 0 auto;
}

.caption {
    padding: 10px;
}

.divflex2 {
    margin-top: 0px;
}

.divflex2 h2 {
    font-size: 21px;
}
.wrapper {
    margin-top: 0px;
        width: 215px;
}

input {
    font-size: 13px;
    background-position: 180px 4px;
    width: 215px;
    letter-spacing: 0;
}
.logo {
    width: 51px;
}

.divflex2 p {
    bottom: 20px;
    font-size: 13px;
    text-align: center;
    
}

input[type="text"] {
        width: 220px;

}

input[type="submit"] {
        right: -5px;
}



.funContainer {
    width: 100%;
}

.contactus1 {
    width: 100%;
    
   
}
.funContainer .caption p {
    font-size: 22px;
}
 #contactus2 {
    order: 2;
}

#contactus2Caption {
    order: 1;
}

}

